:root {
	--link-color: #18272F;
	--link-underline-color: #FAD201;
}

@font-face {
	font-family: 'datfont';
	src: url('datfont.woff2') format('woff2'),
		url('datfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 18px;
}

a,
a:hover,
a:visited {

	text-decoration: none;

}

h2 {
	font-family: 'datfont', sans-serif;
	font-weight: normal;
	font-size: 2rem;
}

main {
	

	
}

@media screen and (max-width: 1200px) {
	article {
		padding: 0 20px;
	}
}

article {
	max-width: 1080px;
	margin: auto;
	margin-top: 100px;
}

article h2 {
	margin-bottom: 40px;
}

article p {
	text-align: justify;
	font-size: 18px;
	margin-bottom: 45px;
}

@media screen and (min-width: 320px) {
  article p {
    line-height: 30px;
  }
}

.link {
	background-image: linear-gradient(rgba(0, 0, 0, 0) 50%, var(--link-underline-color) 50%);
	background-size: auto 175%;
	transition: background 0.3s ease-in-out;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: 700;
	color: var(--link-color);

}

.entry {
	background-image: linear-gradient(rgba(0, 0, 0, 0) 50%, var(--link-underline-color) 50%);
	background-size: auto 175%;
	transition: background 0.3s ease-in-out;
	padding-top: 2px;
	padding-bottom: 2px;
}

.entry:hover {
	background-position-y: 100%;
	color: var(--link-color);
	text-shadow: none;
}

.link.green, .entry.green {
	background-image: linear-gradient(rgba(0, 0, 0, 0) 50%, #77dd77 50%);
}

.link.blue, .entry.blue {
	background-image: linear-gradient(rgba(0, 0, 0, 0) 50%, #00c6ff 50%);
}

.link:hover {
	background-position-y: 100%;
	color: var(--link-color);
	text-shadow: none;
}

.link:visited {
	color: var(--link-color);
}

.link.active, .entry.active {
	background-position-y: 100%;
	color: var(--link-color);
	text-shadow: none;
}

body {
	font-family: sans-serif;

	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.fa-ul li {
	margin-bottom: 0.7rem;
}

.fa-li .far, .fa-li .fa, .fa-li .fas {
	
    background: #d6249f;
    background: linear-gradient(0deg, #9c47fc, #356ad2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



@media screen and (max-width: 600px) {
	.mobile-hidden {
		display: none !important;
	}
}

.topnav {
	position: absolute;
	overflow: hidden;
	width: 90%;
	z-index: 100;
}

.topnav a {
	float: right;
	display: block;
	color: white;
	text-align: center;
	margin: 14px 16px;

	font-size: 1.2rem;
	text-shadow: 0px 0px 5px rgba(1, 1, 1, 0.7);

}


.topnav .icon {
	display: none;
}

@media screen and (max-width: 600px) {


	.topnav .entry {
		display: none;
	}

	.topnav a.icon {
		float: right;
		display: block;
	}

	.topnav {
		width: 100%;
	}

	.topnav.responsive {
		position: absolute;
		background: rgba(0, 0, 0, 0.4);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		
		height: 100%;
		box-sizing: border-box;
		padding-top: 60px;
	}

	.topnav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.topnav.responsive .entry {
		float: none;
		display: block;
		text-align: center;
		margin-top: 60px;
	}
}

.hero {
	display: block;
	text-decoration: none;
	position: relative;
	overflow: hidden;
	background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.hero:before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 6em;
	transform: skew(0, -2deg) translate(0, 100%);
	transform-origin: bottom left;
	background: white;
}

.hero_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 20em;

}

.hero_text {
	font-weight: 100;
	color: white;
	text-align: center;
	font-family: 'datfont';
	font-size: 5rem;
	text-shadow: 0px 0px 10px rgba(1, 1, 1, 0.45);
	margin: 0;
}

@media screen and (max-width: 600px) {
	.hero_text {
		font-size: 4rem;
		;
	}
}

.hero_description {
	font-weight: 100;
	color: white;
	text-align: center;
	font-family: 'datfont';
	font-size: 1.5rem;
	text-shadow: 0px 0px 5px rgba(1, 1, 1, 0.7);
	margin: 0;
}

.badges {
	margin-top: 25px;
	margin-bottom: 5px;
	width: 100%;
	text-align: center;
	height: 22px;

}

div.badge {
	display: inline-block;
	border-radius: .75em;
	font-family: 'Dejavu Sans', 'Arial';
	font-size: 0.82rem;
	height: 100%;

}

div.badge div {
	display: inline-block;
	float: left;
	color: #FFF;
	text-shadow: 0px .1em 0px rgba(0, 0, 0, 0.5);
	margin: 0;
	padding: 0;
	border: 0;
}

div.badge div:first-child,
div.badge div:first-child span {
	border-top-left-radius: .25em;
	border-bottom-left-radius: .25em;
}

div.badge div:last-child,
div.badge div:last-child span {
	border-top-right-radius: .25em;
	border-bottom-right-radius: .25em;
}

div.badge div span {
	display: inline-block;
	background: linear-gradient(180deg, rgba(187, 187, 187, .1) 0%, rgba(0, 0, 0, .1) 100%);
	padding: .25em .5em;
	box-sizing: border-box;
}

.badge .name {
	background: #555555;
}

.badge .status.green {
	background: #44cc11;
}

.badge .status.water {
	background: #37d087;
}

.badge .status.purple {
	background: #800c7b;
}

.badge .status.blue {
	background: #00aadd;
}

.badge .status.red {
	background: #cc1100;
}

.badge .status.gray {
	background: #cccccc;
}








.container-text-image, .container-text-image-reverse {
  display:inline-flex;
  flex-wrap:wrap;
  width: 100%;
  margin-top: 100px;
  flex-direction: row-reverse;
}


.container-text-image-reverse {
  display:inline-flex;
  flex-wrap:wrap;
  width: 100%;
  margin-top: 100px;
  flex-direction: row;
}

.flex-direction{
  
}

.container-text-image .image {

  background: linear-gradient(-22deg, #c423ff, #2196f3, #f44336 );
	background-size: 150% 150%;
	animation: gradient 5s ease infinite;
  width:50%;
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
  float: left;

}

.container-text-image-reverse .image {

  background: linear-gradient(-22deg, #00c9ff, #92fe9d);
	background-size: 150% 150%;
	animation: gradient 5s ease infinite;
  width:50%;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;

}

.container-text-image .image img, .container-text-image-reverse .image img {

  margin:  2% 2%;
  
}

.container-text-image-reverse .image img {

  float: right;
  
}

.container-text-image .text{
  width:50%;
  margin: auto;
}

.container-text-image-reverse .text{
	width:50%;
  margin: auto;
}

.container-text-image .text h2, .container-text-image-reverse .text h2 {
	font-size: 2rem;
	margin-bottom: 25px;
}

.container-text-image .inner_text {
	float: right;
	width: 70%;
	padding-right: 4%;
}

.container-text-image .text p {
	font-size: 1rem;
	margin-bottom: 25px;
}

.container-text-image-reverse .inner_text {
	float: left;
	width: 70%;
	padding-left: 4%;
}

.container-text-image-reverse .text p {
	font-size: 1.1rem;
	text-align: justify;
	margin-bottom: 25px;
}



@media screen and (max-width: 1200px) {
  

  .flex-direction{
  flex-direction:column-reverse;
  }


	.container-text-image .image, .container-text-image-reverse .image{
  background: rgba(0,0,0,0);
  width: 100%;
  text-align: center;
  }

  .container-text-image .image img, .container-text-image-reverse .image img{
  min-width: 600px;
	margin: auto;
	float: none;
  }
  .container-text-image .text, .container-text-image-reverse .text{
    width: 100%;
  }

  .container-text-image .inner_text,  .container-text-image-reverse .inner_text{
    max-width: 1080px;
	margin: auto;
	width: auto;
	padding: 0;
	float: none;
	padding: 0 20px;
  }


  
  
}

@media screen and (max-width: 600px) {
  

  .container-text-image .image, .container-text-image-reverse .image{
  display: none;
  }
  
  
}

.footer {
	display: block;
	text-decoration: none;
	position: relative;
	overflow: hidden;
	background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.footer:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 5em;
	transform: skew(0, -2deg) translate(0, 0%);
	transform-origin: top left;
	background: white;
}

.footer_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 10em;

}

.footer_description {
	
	color: white;
	text-align: center;
	
	font-size: 1rem;
	text-shadow: 0px 0px 10px rgba(1, 1, 1, 0.45);
	margin: 0;
}
